@use "./abstracts/base";
@use "./abstracts/reset";
@use "./components/header.scss";
@use "./abstracts/variables";
@use "./abstracts/mixins";
@use "./components/banner.scss";
@use "./components/info.scss";
@use "./components/wrapper.scss";
@use "./components/watch.scss";