@use '../abstracts/variables';
@use "../abstracts/mixins";

.fourthSection {
  width: 100%;
  max-width: 140rem;
  @include mixins.marginLR;
  @include mixins.paddingLR;
  display: flex;

  &__section {
    display: flex;
    flex-direction: column;
  }
}

.gamecard {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 40rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  font-family: map-get(variables.$fontVars, 'SansFont');

  &__img {
    height: 70%;
  }

  &__btn {
    position: absolute;
    color: #fff;
    right: 2.5rem;
    bottom: 5%;
    width: 15rem;
    height: 3.5rem;
    border: 0.2rem solid #1a1a1ab5;
    text-decoration: none;
    background: #fff;
  }

  &__background {
    background-image: linear-gradient(#ffffff, #f3f8fb);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
  }

  &__icon {
    height: 8rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 3rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__Icon {
    height: 100%;
  }

  &__rating {
    position: absolute;
    color: #e59819;
    ;
    left: 3rem;
    bottom: 10%;
    font-size: 2rem;
  }

  &__info {
    position: absolute;
    color: #000000;
    font-weight: 900;
    left: 15rem;
    bottom: 26%;
    font-size: map-get(variables.$fontSize, 'fontsize3');
    width: 25ch;
    border-bottom: 0.1rem solid #1a1a1a28;
  }

  &__link {
    text-decoration: none;
    font-family: map-get(variables.$fontVars, 'SansFont');
    font-weight: 600;
    color: #000000;
  }
}

@media screen and (max-width:1500px) {
  .fourthSection {
    flex-wrap: wrap;
  }

  .gamecard {
    &__rating {
      display: none;
    }

    &__info {
      padding: 0;
    }
  }
}