@use '../abstracts/variables';
@use "../abstracts/mixins";

.fifthSection {
    margin-top: 6.4rem;
    background: #f4f4f4;

    &__section {
        padding: 6.4rem 2.4rem;
        width: 100%;
        max-width: 134rem;
        @include mixins.marginLR;
    }

    &__h2 {
        margin-bottom: 2.4rem;
        font-family: map-get(variables.$fontVars, 'SansFont');
        font-size: map-get(variables.$fontSize, 'fontsize2');
    }

    &__itemBigWrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__itemWrapper {
        margin-bottom: 2.4rem;
        padding-right: 5rem;
    }

    &__itemWrapper {
        padding-bottom: 2rem;
    }

    &__h3 {
        font-size: map-get(variables.$fontSize, 'fontsize2');
        max-width: 60rem;
        margin-bottom: 2.4rem;
        font-family: map-get(variables.$fontVars, 'SansFont');
    }

    &__a {
        text-decoration: underline;
        font-family: map-get(variables.$fontVars, 'SansFont');
        font-size: map-get(variables.$fontSize, 'fontsize4');
        font-weight: 600;
        color: #7300ff;
    }

    &__p {
        font-size: map-get(variables.$fontSize, 'fontsize4');
        color: #6a6f73;
        margin-top: 0.8rem;
        font-family: map-get(variables.$fontVars, 'SansFont');
    }

    &__button {
        background-color: transparent;
        border: 0.2rem solid #1A1A1A;
        box-sizing: border-box;
        color: map-get(variables.$colorVars, 'black');
        cursor: pointer;
        display: inline-block;
        font-size: map-get(variables.$fontSize, 'fontsize3');
        font-weight: 600;
        line-height: normal;
        min-height: 6rem;
        outline: none;
        padding: 1.7rem 2.4rem;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        touch-action: manipulation;
        width: 20rem;
        will-change: transform;

        &:hover {
            color: map-get(variables.$colorVars, 'white');
            background-color: #1A1A1A;
            box-shadow: rgba(0, 0, 0, 0.25) 0 0.8rem 1.5rem;
            transform: translateY(-0.2rem);
        }

        &:active {
            box-shadow: none;
            transform: translateY(0);
        }
    }
}