@use '../abstracts/variables';

.footer {
    &__wrapper {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        padding-left: 4.8rem;
        padding-right: 4.8rem;
        border-top: 1px solid #3e4143;
        background: #000;
    }

    &__sectionWrapper {
        display: flex;
        font-family: map-get(variables.$fontVars, 'SansFont');
    }

    &__linkWrapper {
        list-style: none;
        margin: 0;
        padding: 0;
        max-width: none;
        flex-basis: 25.6rem;
        margin-right: 1.6rem;
        margin-bottom: 0;
        font-family: map-get(variables.$fontVars, 'SansFont');
    }

    &__linkItem {
        justify-content: flex-start;
        text-align: left;
        width: 100%;
        padding: 0.3rem 0;
        height: auto;

        :hover {
            text-decoration: underline;
        }
    }

    &__Link {
        font-size: 130%;
        text-decoration: none;
        font-family: map-get(variables.$fontVars, 'SansFont');
        color: #fff;
    }

    &__copyrightWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6.4rem 0 3.2rem;
        font-size: 130%;
        font-family: map-get(variables.$fontVars, 'SansFont');
        color: #fff;
    }
}