@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin paddingLR{
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

@mixin marginLR{
    margin-right: auto;
    margin-left: auto;
}

@mixin flexCenterLite{
    display: flex;
    justify-content: center;
}