$backgroundColor: #4649FF;

$fontVars: (
    "color": #000000,
    "fancyFont": 'Playfair Display',
    "SansFont": 'Open Sans',
);

$tasksVars: (
    "background":#DDDDDD,
    "specialFontColor": #eee,
    "listItemColor": #ECECEC
);