$fontVars: (
    "color": #000000,
    "fancyFont": 'Playfair Display',
    "SansFont": 'Open Sans',
);

$colorVars: (
    "background": #fff,

    "textColor": #0000,
);

$fontSize: (
    "fontsize1": 2.4rem,
    "fontsize2": 1.9rem,
    "fontsize3": 1.6rem,
    "fontsize4": 1.4rem,
);